spring:
  application:
    name: mosque-crm-backend
  
  datasource:
    url: jdbc:mariadb://localhost:3307/mcrm?createDatabaseIfNotExist=true&useSSL=false&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&nullCatalogMeansCurrent=true
    driver-class-name: org.mariadb.jdbc.Driver
    username: mcrm
    password: mcrm
  
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
  
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true
  
  freemarker:
    template-loader-path: classpath:/templates/
    suffix: .ftl
    charset: UTF-8
    cache: false
  
  security:
    user:
      name: admin
      password: admin123

server:
  port: 8080
  servlet:
    context-path: /api

jwt:
  secret: mosque-crm-secret-key-change-this-in-production-to-a-very-long-random-string-at-least-256-bits-for-HS256
  expiration: 86400000

cors:
  allowed-origins: http://localhost:3000
  allowed-methods: GET,POST,PUT,DELETE,OPTIONS
  allowed-headers: "*"
  allow-credentials: true
